<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <nav>
      <a href="login">Login</a>
      <a href="register">Register</a>
      <a href="app">App</a>
    </nav>

    <form action="/login" method="POST">
      <label>Username</label>
      <input type="text" id="username" name="username" />
      <label>Password</label>
      <input type="text" id="password" name="password" />
      <input type="submit" value="login" />
    </form>
  </body>
</html>
