<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout</title>
  </head>
  <body>
    <h1>Logged Out</h1>
    <nav>
      <a href="login">Login</a>
      <a href="logout">logout</a>
      <a href="register">Register</a>
      <a href="app">App</a>
    </nav>

    <a href="login">
      <button>Log in</button>
    </a>

    <a href="register">
      <button>Register</button>
    </a>
  </body>
</html>
